@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(173, 241, 173);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(24, 129, 24);
}

h1#principal {
    text-align: center;
    background-color: white;
}

h2 {
    color: rgb(84, 22, 121);
}

.basico {
    color: rgb(0, 255, 255);
}

.intermediario {
    color: brown;
}

.avancado {
    color: rgb(0, 0, 255);
}
